@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo Aluno(a)</h1>
</div>

<div class="text-center">
    <td>Menu de seleção para o gerenciamento da escola.</td>
</div>

<div class="text-center">
    <td>Aqui você pode verificar os dados dos alunos, professores e os conhecimentos.</td>
</div>

<div class="text-center">
    <td>O site será atualizado conforme o tempo, adicionando novas informações.</td>
</div>